/*HISTORIAS*/
/*HISTORIAS*/
/*HISTORIAS*/
/*HISTORIAS*/
/*HISTORIAS*/
/*HISTORIAS*/


/*cta modificado para links de donacion de cada historia*/

.pagos{
    margin-bottom: 20px;
}



.cta--history{
    display:inline-block ;
    background-color: #39b939;
    justify-self:center;
    color: rgb(255, 254, 254);
    text-decoration: none;
    padding: 13px 30px;
    border-radius: 32px;
    margin-top: 10px;
    margin-left: 12px;
}

.cta--history:hover{
    background-color: #fff;
    color:#51b651;
}


hr{
    width: 100%;
    color: #777777;
    margin-top: 20px;
}

.historia-rel{
    margin-bottom: 10px;
    margin-top: -px;
    text-align: center;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');


.parrafo{  /*parráfos de las historias relacionadas*/
    
    font-weight:400;
    color: #1d1717a2;
    background-color: rgba(195, 231, 231, 0.041);
    padding: 20px;
    margin-right: -20px;
    

}


header{
    position: fixed;
    top:0; /*Header pegado arriba*/
    left: 0;
    width: 100%;
    height: 80px;
    background: rgba(255, 255, 255, 0.945);
    box-shadow: 0 4px 25px -22px rgba(0, 0, 0, 0.678);
    z-index: 2;
}


article h2{
    color:rgb(33, 70, 235);
    margin-top: 20px;
}

article h3{
    color:rgb(33, 70, 235);
    margin-top: 20px;
}

.header-content{
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.logo{
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo h2 b{
    color: rgb(33, 70, 235);
}

.menu{
    height: 80px;
}

.menu nav{
    height: 100%;
}

.menu nav ul{
    height: 100%;
    display: flex;
    list-style: none;
}

.menu nav ul li{
    height: 100%;
    margin: 0px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.menu nav ul li a{
    text-decoration: none; /*se quitaron las lineas debajo del menu historias*/
}

.menu-selected:before{
    content: "";
    width: 100%;
    height: 4px;
    background: rgb(33, 70, 235);
    position: absolute;
    top: 0;
    left: 0;
}

.menu nav ul li a{
    color: #777777;
}
.menu nav ul li a:hover{
    color: rgb(33, 70, 235);
    transition: color 300ms;
}

.menu .text-menu-selected{
    color: rgb(33, 70, 235);
}

/*icono menu para moviles*/
#icon-menu{
    width: 45px;
    height: 45px;
    position: absolute;
    padding: 10px;
    right: 20px;
    top: 16px;
    font-size: 20px;
    background: #c2bfbffa;
    border-radius: 100%;
    color: #ffffff;
    display: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.menu nav ul li img{
    display: none; /*si está fixed aparecen los iconos en la barra*/
}

#icon-menu:hover{
    background: rgba(33, 70, 235, 0.555);
    transition: 1s;
}

/*Fin del header y comienzo de  la portada*/

.container-cover{
    width: 100%;
    height: 500px;
    position: relative;
    margin-top: 80px;
    background-image: url('http://imgfz.com/i/7rPYTqa.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.container-cover:before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

/*Técnica para traer el titulo delante de la transparencia*/

.container-info-cover{
    max-width: 800px;
    height: 500px;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    color: rgb(255, 250, 250);
}

.container-info-cover h1{
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 20px;
}

.container-info-cover p{
    color:#fff;
    font-size: 25px;
}

/*Fin de la portada y comienzo del container de articulos*/

.container-content{
    width: 1200px;
    margin: auto;
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

article{
    width: 100%;
    padding: 20px;
    padding-bottom: 40px;
    box-shadow: -10px 0 20px -30px rgb(3, 3, 3);
    border-radius: 6px;
    position: relative;
    overflow: hidden;
}

article:before{
    content: "";
    width: 100%;
    height: 6px;
    position: absolute;
    top: 0;
    left: 0;
    background:rgba(33, 70, 235, 0.76);
}

article h1{
    margin-top: 20px;
    font-weight: 500;
    font-size: 35px;
}

article p{  /*parráfos de las historias*/
    margin-top: 20px;
    font-size: 18px;
    color:#181111de;
    line-height: 150%; /*espaciado entre lineas*/
}

article img{
    width: 100%;
    margin-top: 20px;
    align-content: center;
}

/*Comienzo de relacionados (aside)*/

.container-aside aside{
    width: 320px;
    border-radius: 6px;
    box-shadow: 0 0 20px -20px black;
    overflow: hidden;
    margin-left: 40px;
    margin-bottom: 20px;
    padding-bottom: 20px
}

.container-aside aside img{
    width: 100%;
}

.container-aside aside h2,
.container-aside aside p{
    margin-top: 20px;
    padding: 0px 20px;
}

.container-aside h2{
    color: rgb(52, 52, 250);
}

.container-aside aside button{
    margin-top: 20px;
    margin-left: 20px;
    padding: 10px 50px;
    font-size: 16px;
    background: rgba(33, 70, 235, 0.911) ;
    color: #ffff;
    border:none;
    cursor:pointer;
    border-radius: 6px;
    margin-bottom: 15px;
}

.container-aside aside button:hover{
    opacity: 0.9;
}

.menu nav ul li img{
    margin-bottom: -4px;
}






/*Responsive desing*/

@media screen and (max-width: 1220px){
    .header-content,
    .container-content,
    .footer__container container{
        max-width: 1000px;
        padding: 0 20px;

    }
}



@media screen and (max-width: 1020px){
    .container-content{
        width: 100%;
        flex-direction: column;
    }

    article{
         box-shadow: 0 0 0 0;
    }

    .container-aside{
        display: flex;
        justify-content: center;
    }

    .container-aside aside{
        max-width: 300px;
        margin: 10px;
    }
}



@media screen and (max-width: 980px){


    .container-all{
        transition: all 300ms cubic-bezier(1,0,0,1);
    }

    .move-container-all{
        transform: translateX(300px);
    }

    .menu{
        width: 0px;
        height: 100vh;
        position: fixed;
        top: 80px;
        left: 0;
        background: #fff;
        overflow: hidden;
        transform: translateX(-350px);
        box-shadow: 10px 0 20px -25px black;
        transition: all 300ms cubic-bezier(1,0,0,1);
    }

    .show-lateral{
        width: 300px;
        transform: translateX(0px);
    }

    .menu nav ul{
        flex-direction: column;
    }

    .menu nav ul li{
        max-width: 200px;
        height: 50px;
        justify-content: flex-start;
    }

    .menu-selected:before{
        width: 0;
    }

    .menu nav ul li a{
        margin-top: 40px;
    }

    .menu nav ul li img{
        width: 20px;
        display: inline-block;
        margin-right: 10px;
        margin-bottom: -4px;
    }

    #icon-menu{
        display: flex;
    }

    .container-aside{
        flex-wrap:wrap ;
    }

    .nav__link--footer{
        justify-content: space-between;
    }


}

.fuente{
    text-decoration: none;
    color:rgb(52, 52, 250);
}

